@import '../../variables'

.schedule-month
  width: 100%
  height: auto
  position: relative
  user-select: none
  border-top: 1px dashed $primary-border-color
  padding-top: 20px
  @include flex-center()

.schedule-month-wrap
  width: 100%
  height: auto
  position: relative
  overflow: hidden

.schedule-month-content
  width: 100%
  height: auto
  position: relative
  @include flex-start-between()

.scroll-right
  @include scrollRight()

.scroll-left
  @include scrollLeft()

.fade
  @include fade()
