@import-normalize
@import '@fontsource/roboto'
@import './variables'

body
  margin: 0
  font-family: 'Roboto', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  min-height: 100%
  background-color: $body-bgd
  min-width: 1280px

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

*
  box-sizing: border-box
  color: $primary-text-color-dark